{% extends 'base.html.twig' %}

{% block title %}Hello PreInscriptionController!{% endblock %}

{% block content %}

    <!-- Single Page Start -->
    <div class="single mt-125">
        <div class="container">
            <div class="section-header">
                <h2>Inscription en Ligne</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Choisissez le type de formation demandée
                    </p>
                    <br>
                    <ul style="text-align: center;" class="ul-group">
                        <hr>
                        <li><a href="#"> BTS-BTP-CAP</a></li><br><hr>
                        <li><a href="#"> FORMATION ACCÉLÉRÉE</a></li><br><hr>
                        <li><a href="#"> FORMATION CONTINUE</a></li><br>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- Single Page End -->
    <br>
    <hr>
    <br>

{% endblock %}
