{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block content%}

    <!-- Single Page Start -->
    <div class="single mt-125">
        <div class="container">
            <div class="section-header">

                <h2>Formations</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="img/interface-formations-Tunisie.jpg" alt="Image">

                    <p>
                        Interface Formation offre des formations diplomantes, continues et accélérées qui vous garantis
                        des nouvelles perspectives de croissance. Le programme de la formation comporte plusieurs choix
                        de cours du jour mais aussi du soir ouverts à tous, dans différents domaines: </p>
                    <ul style="text-align: center;" class="ul-group">
                        <hr>
                        <li><a href="#">FORMATION INITIALE <br> (BTS-BTP-CAP)</a></li><br><hr>
                        <li><a href="#"> FORMATION ACCÉlÉRÉE</a></li><br><hr>
                        <li><a href="#"> FORMATION LANGUE</a></li><br><hr>
                        <li><a href="#"> FORMATION CONTINUE</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- Single Page End -->
    <br>
    <hr>
    <br>

{% endblock %}