{% extends 'base.html.twig' %}

{% block title %}Hello FormationAccelereController!{% endblock %}

{% block content %}
<div class="single mt-125">
    <div class="container">
        <div class="section-header">

            <p>Formation Accélérée</p>
            <h2>Liste des Formations Accélérées</h2>
            <div style="text-align: right" class="col-1"><img src="{{ asset('img/icon/diplomes-homologues-Tunisie.jpg')}}" width="20" height="50"
                                                              title="interface Formation Tunisie - Diplomes Homologués"
                                                              alt="Diplomes Homologués - centre  formation Tunis"> </div></h2>

        </div>
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('img/formation-acceleree-tunisie.jpg') }}" alt="Image">

                <p>
                    Des formations à courte duré ciblées et répondent à l'attente du demandeur et sanctionnées par une attestation de suivi des cours concernés. Ces formations consolident le C.V. du demandeur à la recherche d'un meilleur emploi.
                </p>
                <table width="100%" border="2" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td width="337"><p align="center"><strong>Spécialités</strong> (Entre Autres)</p></td>
                        <td width="177"> </td>
                        <td width="117"><p><strong>Durée</strong></p></td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top"><div align="center">Informatique Bureautique (MS Office)</div></td>
                        <td valign="top">Formation en Groupe</td>
                        <td valign="top">20 H</td>
                    </tr>
                    <tr>
                        <td valign="top">Formation Individuelle</td>
                        <td valign="top">20 H</td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top"><div align="center">AutoCad</div></td>
                        <td valign="top">Formation en Groupe</td>
                        <td valign="top">15 H</td>
                    </tr>
                    <tr>
                        <td valign="top">Formation Individuelle</td>
                        <td valign="top">15 H</td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top"><div align="center">3Ds Max</div></td>
                        <td valign="top">Formation en Groupe</td>
                        <td valign="top">20 H</td>
                    </tr>
                    <tr>
                        <td valign="top">Formation Individuelle</td>
                        <td valign="top">20 H</td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top"><div align="center">Sage</div></td>
                        <td valign="top">Formation en Groupe</td>
                        <td valign="top">20 H</td>
                    </tr>
                    <tr>
                        <td valign="top">Formation Individuelle</td>
                        <td valign="top">20 H</td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top"><div align="center">Comptabilité</div></td>
                        <td valign="top">Formation en Groupe</td>
                        <td valign="top">30 H</td>
                    </tr>
                    <tr>
                        <td valign="top">Formation Individuelle</td>
                        <td valign="top">30 H</td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top"><div align="center">Ressources Humaines</div></td>
                        <td valign="top">Formation en Groupe</td>
                        <td valign="top">-</td>
                    </tr>
                    <tr>
                        <td valign="top">Formation Individuelle</td>
                        <td valign="top">-</td>
                    </tr>


                    </tbody>
                </table>
                <h4  style="color:red;"> + d'autres Formations Sur Mesure</h4>
                <div class="contact">
                    <div class="container">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                <div>
                                    <a href="{{ path('demande_formation')}}" class="btn" type="submit" id="sendMessageButton">>> DEMANDER UNE FORMATION</a>
                                </div>
                                <div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    {% endblock %}
