<form method="post" action="{{ path('admin_specialite_delete', {'id': specialite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialite.id) }}">
    <button class="btn btn-danger d-none d-sm-inline-block btn-sm btn-primary shadow-sm mt-2 mb-2">
        <i class="fa fa-trash"></i>

    </button>
</form>
