{% extends 'base.html.twig' %}

{% block title %}Hello GaleriePhotosController!{% endblock %}

{% block content %}

    <!-- Blog Start -->
    <div class="blog blog-page mt-125">
        <div class="container">
            <div class="section-header">
                <h2>Galerie Photos</h2>
            </div>
            <!-- Gallery -->
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt=""
                    />

                    <img
                            src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt=""
                    />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                            src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt=""
                    />

                    <img
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt=""
                    />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt=""
                    />

                    <img
                            src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt=""
                    />
                </div>
            </div>
            <!-- Gallery -->
            <!--<div class="row">
                <div class="col-12">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>

    <!-- Blog End -->
<br>
    <hr>
    <br>


    <!-- Testimonial Start -->
    <div class="testimonial">
        <div class="container">
            <div class="section-header">
                <p>Testimonial Carousel</p>
                <h2>100% Positive Customer Reviews</h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <img src="img/testimonial-1.jpg" alt="Image">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mollis mauris. Vivamus egestas eleifend dui ac consequat
                    </p>
                    <h2>Client Name</h2>
                    <h3>Profession</h3>
                </div>
                <div class="testimonial-item">
                    <img src="img/testimonial-2.jpg" alt="Image">
                    <p>
                        Phasellus pellentesque tempus pretium. Quisque in enim sit amet purus venenatis porttitor sed non velit. Vivamus vehicula finibus
                    </p>
                    <h2>Client Name</h2>
                    <h3>Profession</h3>
                </div>
                <div class="testimonial-item">
                    <img src="img/testimonial-3.jpg" alt="Image">
                    <p>
                        Sed in lectus eu eros tincidunt cursus. Aliquam eleifend velit nisl. Sed et posuere urna, ut vestibulum massa. Integer quis magna
                    </p>
                    <h2>Client Name</h2>
                    <h3>Profession</h3>
                </div>
                <div class="testimonial-item">
                    <img src="img/testimonial-4.jpg" alt="Image">
                    <p>
                        Sed in lectus eu eros tincidunt cursus. Aliquam eleifend velit nisl. Sed et posuere urna, ut vestibulum massa. Integer quis magna
                    </p>
                    <h2>Client Name</h2>
                    <h3>Profession</h3>
                </div>
            </div>
            </div>
    </div>
    <!-- Testimonial End -->

{% endblock %}
