{% extends 'Back/baseBack.html.twig' %}

{% block content %}
    <h1>Create new Classe</h1>

    {{ include('Back/classe/_form.html.twig') }}

    <a href="{{ path("admin_classe_index") }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
        <button type="button" class="btn btn-dark">
            <i class="fa fa-arrow-circle-left">  </i>  retour
        </button>
    </a>
{% endblock %}
