{% extends 'Back/baseBack.html.twig' %}
{% block content%}
    <h1>Create new Image</h1>
    {{ include('Back/image/_form.html.twig') }}

    <a href="{{ path("image_index") }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
        <button type="button" class="btn btn-dark">
            <i class="fa fa-arrow-circle-left">  </i>  retour
        </button>
    </a>
{% endblock %}
