{% extends 'base.html.twig' %}

{% block title %}Hello CapController!{% endblock %}

    {% block content %}
        <div class="single mt-125">
            <div class="container">
                <div class="section-header">

                    <p>Formation CAP</p>
                    <h2>Diplomes CAP Certificat d'aptitude Professionnelle</h2>
                    <div style="text-align: right" class="col-1"><img src="{{ asset('img/icon/diplomes-homologues-Tunisie.jpg')}}" width="20" height="50"
                                                                      title="interface Formation Tunisie - Diplomes Homologués"
                                                                      alt="Diplomes Homologués - centre  formation Tunis"> </div></h2>

                </div>
                <div class="row">
                    <div class="col-12">
                        <img src="{{ asset('img/interface-Formation-diplome.jpg') }}" alt="Image">

                        <p>
                            Le centre de formation de Tunis INTERFACE Formation vous offre des formations professionnelles pour obtenir votre diplome homologué en CAP (Durée 1 ans):
                        </p>
                        <div class="section-header">

                            <h2>Formation CAP (Génie Civil) Bâtiment et dérivés</h2>


                            <h3>CAP Froid et Climatisation</h3>


                        </div>


                        <div class="contact">
                            <div class="container">
                                <div class="contact-form">
                                    <div id="success"></div>
                                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                        <div>
                                            <a  href="{{ path('admission')}}" class="btn" type="submit" id="sendMessageButton">ADMISSION</a>
                                            <a href="{{ path('pre_inscription')}}" class="btn" type="submit" id="sendMessageButton">INSCRITPION EN LIGNE</a>
                                        </div>
                                        <div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>


        <!-- Single Page End -->
        <br>
        <hr>
        <br>
    {% endblock %}

