{% extends 'base.html.twig' %}

{% block title %} Formation BTS - BTP - CAP  en Tunisie | Diplomes Tunisiens Homologués avec ou sans bac - Formation 2021{% endblock %}

{% block content %}$

    <!-- Single Page Start -->
    <div class="single mt-125">
        <div class="container">
            <div class="section-header">

                <h2>Diplômes Homologués<div style="text-align: right" class="col-1"><img src="img/icon/diplomes-homologues-Tunisie.jpg" width="20" height="50"
                                                 title="interface Formation Tunisie - Diplomes Homologués"
                                                 alt="Diplomes Homologués - centre  formation Tunis"> </div></h2>

            </div>
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('img/interface-Formation-diplome.jpg') }}" alt="Image">

                    <p>
                        INTERFACE délivre des diplômes homologués par le Ministère de la Formation Professionnelle et de
                        l'Emploi et reconnus à l'échelle international </p>
                    <ul style="text-align: center;" class="ul-group">
                        <hr>
                        <li><a href="#"> DIPLOMES BTS - BREVET DE TECHNICIEN SUPÉRIEUR</a></li><br><hr>
                        <li><a href="#"> DIPLOMES BTP - BREVET DE TECHNICIEN PROFESSIONNEL</a></li><br><hr>
                        <li><a href="#"> DIPLOMES CAP - CERTIFICAT D'APTITUDE PROFESSIONNELLE</a></li><br>
                    </ul>

                </div>

                </div>

        </div>
    </div>


        <!-- Single Page End -->
<br>
    <hr>
    <br>
{% endblock %}
