{% extends 'base.html.twig' %}

{% block title %} Formation BTS - BTP - CAP  en Tunisie | Diplomes Tunisiens Homologués avec ou sans bac - Formation 2021{% endblock %}

{% block content %}$

    <!-- Single Page Start -->
    <div class="single mt-125">
        <div class="container">
            <div class="section-header">

                <h2>Diplômes Homologués<div style="text-align: right" class="col-1"><img src="img/icon/diplomes-homologues-Tunisie.jpg" width="20" height="50"
                                                                                         title="interface Formation Tunisie - Diplomes Homologués"
                                                                                         alt="Diplomes Homologués - centre  formation Tunis"> </div></h2>

            </div>
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('img/interface-Formation-diplome.jpg') }}" alt="Image">

                    <p>
                        INTERFACE délivre des diplômes homologués par le Ministère de la Formation Professionnelle et de
                        l'Emploi et reconnus à l'échelle international </p>
                    <div class="service mt-125">
                        <div class="container">
                            <div class="section-header">

                                <h2>Nos Diplomes </h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>DIPLOMES BTS - BREVET DE TECHNICIEN SUPÉRIEUR</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non
                                        </p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>DIPLOMES BTP - BREVET DE TECHNICIEN PROFESSIONNEL</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non
                                        </p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="service-item">
                                        <h3>DIPLOMES CAP - CERTIFICAT D'APTITUDE PROFESSIONNELLE</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non
                                        </p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Single Page End -->
    <br>
    <hr>
    <br>
{% endblock %}
