{% extends 'base.html.twig' %}

{% block title %}Hello AdmissionController!{% endblock %}

{% block content %}
<!-- Single Page Start -->
<div class="single mt-125">
    <div class="container">
        <div class="section-header">

            <h2>Admission Formation </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('img/interface-formations-Tunisie.jpg') }}" alt="Image">

                <p>
                    Fournit aux demandeurs de formation des informations exhaustives, diversifiées se rapportant aux métiers visés par la formation.
                    Forme aux métiers les plus demandés au plan national et international, en vue de à leur assurer une évolution constante dans le cheminement professionnelavec des moyens constamment innovés.
                    La formation initiale est sanctionnée par des diplômes homologués dans différents domaines . </p>
                <div class="service mt-125">
                    <div class="container">
                        <div class="section-header">
                            <h2>Admission</h2>
                            <h1> Admission - Formation en BTS</h1>
                            <strong>Ceux qui sont titulaires du diplôme de baccalauréat ou titulaire d’un diplôme BTP ou un diplôme admis en équivalence avec étude du dossier peuvent s'inscrire en 1ère année BTS</strong>

                            <h1> Admission - Formation en BTP</h1>
                            <strong> Ceux qui ont le niveau e 2ème année secondaire (accomplie) ou un diplôme de CAP peuvent s'inscrire en 1ère année BTP</strong>

                            <h1>  Admission - Formation en CAP</h1>
                            <strong>Ceux qui ont le niveau de 9ème année de base accomplie, soit l’équivalent de 9 ans d’études (accomplies) peuvent s'inscrire en CAP .</strong>
                        </div>
                        <div class="section-header">
                            <h2> Pièces à Fournir</h2>
                            <h1>Etudiants Tunisiens</h1>

                            <u> Pièces à  fournir pour l’inscription:</u>
                            <ul class="ul-group">

                                <li>2 Photocopies certifiée conforme à l’attestation scolaire ou diplôme. (les attestations scolaires et diplômes délivrés par l’établissement privé doivent porter le cachet et la signature de la délégation régionale de l’éducation).</li>
                                <li>2 Extraits de naissance.</li>
                                <li>2 photos d’identité (avec nom et prénom du candidat en verso).</li>
                                <li>2 Photocopies de la CIN ou passeport</li>
                                <li>Le règlement intérieur et la déclaration sur l’honneur dument remplis avec signature légalisée.</li>
                            </ul>
                            <h1>Etudiants Internationaux</h1>
                            <u> Pièces à  fournir pour l’inscription :</u>
                            <ul class="ul-group">
                                <li>2 copies certifiées conformes à l’original attestant de votre niveau scolaire</li>
                                <li>2 copies des 3 premières pages du passeport</li>
                                <li>4 photos d’identité portant au verso votre nom</li>
                                <li>2 extraits de naissance</li>
                            </ul>
                            <p  style="color:red;">NB:</p>
                            <p>La deuxième tranche de paiement devra être versée  avant le démarrage du deuxième semestre.</p>

                            <p>Nous vous remettrons à les originaux des attestations d’inscription et de paiement avec un reçu.</p>
                            <p>Vous pourrez alors présenter votre demande pour l’obtention de carte de séjour qui, une fois obtenue, vous permettra de recevoir votre carte d’étudiant.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
